* {
  margin: 0;
  padding: 0;
}

.container {
  border-style: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgb(232 121 249);
}

.form-container{
  height: 500px;
  width: 450px;
  padding: 10px;
  margin: 10px;
  border: solid;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.form-label-header {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;}

.form-label {
  font-size: 16px;
}

.form-input {
  margin: 10px;
  height: 25px;
  background-color: transparent;
  border-width :0 0 4px 0;
  border-style: solid; 
  
  
}

.button {
  background-color: rgb(99 102 241);
  border-radius: 10px;
  width: 100px;
}

/* flex items-center container max-h-screen max-w-full bg-red-600 */
/* box-border h-50 w-32 p-5 border-5 border-black border-solid */
/* bg-indigo-500 ... */
