* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgb(212 212 212);
}

.form-container,
.signup-container {
  height: 500px;
  width: 450px;
  padding: 10px;
  margin: auto;
  /* border: solid; */
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label-header {
  font-size: 3em;

  font-family: "Cormorant Garamond", serif;
}

.form-label {
  /* font-size: 19px;
  height: 25px;
  margin: 10px;*/
  padding: 10px;
  font-weight: bold;
  display: block;
  font-family: "Cormorant Garamond", serif;
  /* font-weight: 500; */
}

.form-input {
  margin: 10px;
  border-radius: 0.375rem;
  height: 30px;
  padding: 0 5px;
  border-style: solid;
  border-width: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
}

.button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

.signup-link {
  margin: 10px;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}

.form-group {
  margin-bottom: 1rem;
}

.container-for-sign {
  background-color: rgb(212 212 212);
  height: 200vh;
}

/* navbar */
.navbar {
  height: 80px;
  width: 100%;
  font-family: "Knewave";
}

.logo {
  height: 75px;

  border-radius: 10px;
}
.nav-items {
  display: inline-flex;
  float: left;
  padding: 20px;
  justify-content: space-between;
  height: 60px;
  text-align: center;
}

.search {
  width: 300px;
  height: 50%;
  padding: 5px;
  border-radius: 20px;
}

.home-welcome {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", "Helvetica";
  background: rgb(212 212 212) url("https://bit.ly/4062lfM");
  background-size: cover;
}
.logins {
  color: red;
}

/* Adding hero image styling */
.main-image {
  height: 300px;
  width: 100%;
  border-style: solid;
}

.hero-image {
  height: 100%;
  width: 100%;
}

/* Body div */
.category-body {
  height: 200px;
  display: flex;
}

.category {
  margin: 20px;
  width: 25%;
}

.category-image {
  width: 100%;
  height: 100%;
}

.category-label {
  font-family: "Montserrat", "Helvetica";
}
